
.hero h1,.hero h3 {
  font-weight: bold;
}

/* Hero Section */
.hero {
  background-color: #1E3A8A; /* Dark Blue */
  color: #FFFFFF;
  text-align: center;
  padding: 30px 10px;
  border-radius: 10px;
}

.herotitle {
  font-size: 1.6rem;
  margin-bottom: 20px;
}

.ctabutton {
  background-color: #F97316; /* Orange */
  color: #FFFFFF;
  padding: 12px 30px;
  font-size: 1.2rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.ctabutton:hover {
  background-color: #F97316;
  opacity: 0.9;
}

/* Features Section */
.features {
  display: flex;
  justify-content: space-around;
  margin: 40px 20px;
  flex-wrap: wrap;
}

.featureitem {
  background-color: #FFFFFF; /* White */
  padding: 30px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  flex-basis: 25%;
  transition: transform 0.3s ease;
}

.featureitem:hover {
  transform: translateY(-5px);
}

.featureicon {
  font-size: 3rem;
  color: #2D9CDB; /* Teal */
  margin-bottom: 10px;
}

.featureitem h3 {
  font-size: 1.6rem;
  margin-bottom: 10px;
}

.featureitem p {
  font-size: 1rem;
  color: #4B5563; /* Dark Gray */
}

/* Call to Action Section */
.ctasection {
  text-align: center;
  margin: 40px;
}

.uploadbutton {
  background-color: #2D9CDB; /* Teal */
  color: #FFFFFF;
  padding: 15px 40px;
  font-size: 1.3rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.uploadbutton:hover {
  background-color: #2D9CDB;
  opacity: 0.9;
}
