/* General Styles */
.workflow {
    font-family: 'Roboto', sans-serif;
    color: #4B5563;
    padding: 1rem 5rem;
    margin-top: -3.5rem;
}


.twostep {
    display: flex;
    flex-wrap: wrap; 
    gap: 3rem;

}

/* Step 3: Transcription Results */
.resultsstep {
    margin-bottom: 40px;
    background-color: #ffffff;
}
.resultstepfull{
    padding: 1rem;
}
.resultflex{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.viewmodetoggle {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.viewbutton {
    padding: 10px 20px;
    margin-right: 10px;
    border-radius: 8px;
    border: none;
    color: #FFFFFF;
    background-color: #2D9CDB; 
    font-size: 1rem; 
}

.uploadbutton{
    background-color: #28A745 !important;
}

.retransbutton{
    background-color: #fb9f00;
}

.viewactive {
    background-color: #1E3A8A;
}

.transcripts {
    display: flex;
    flex: 1;
    margin-top: -1.5rem;
    /* gap: 10px;  */
    flex-wrap: wrap;
    transition: height 0.6s ease;

}

.transcripts.sidebyside .transcript {
    flex: 1;
}

.transcripts.fullscreen .transcript {
    flex: 2;
}

.transcript {
    width: 100%;
    /* height: 480px; */
    height: 240px;
    padding: 5px; 
    border: 1px solid #D1D5DB;
    border-radius: 10px;
    resize: none;
    font-size: 1rem;
    transition: height 0.6s ease;

}

.originalTranscriptFull{
  height: 480px !important;
  transition: height 0.6s ease;
}


.gettranscript {
    font-size: 1.5rem;
    width: 25vw; 
}

/* Step 4: Actions */
.actionsstep {
    text-align: center;
    margin-top: 20px; 
}

.actionbutton {
    background-color: #F97316; 
    color: #FFFFFF;
    padding: 12px 25px; 
    margin: 10px;
    border-radius: 8px;
    border: none;
    font-size: 1.2rem; 
}

.actionbutton:hover {
    background-color: #FB923C; 
}

/* Video Preview */
.videopreview {
    text-align: center;
}

.resultpreviewarea {
    flex: 0.65;
    background-color: #EFF6FF;
    border: 2px dashed #3B82F6;
    border-radius: 15px;
    display: flex; 
    align-items: center; 
    justify-content: center; 
    padding: 20px;
}


.workflow video {
  border-radius: 15px;
  width: 98%; 
  max-width: 700px;
  max-height: 70vh;
  background-color: rgba(255, 255, 255, 0.2); 
  backdrop-filter: blur(50px); 
  -webkit-backdrop-filter: blur(50px); 
}





.resultstepfull video{
    max-width: 400px;
    width: 400px;
}





.actionsbuttons {
    display: flex;
    gap: 2rem;
    height: 30px;
    margin-top: 1rem;
    margin-left: 2rem;
    display: flex;
    flex: 1;
  }
  
  .iconsbutton {
    background-color: #f3f4f6;
    border: none;
    border-radius: 4px;
    padding: 6px 8px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
  .iconsbutton:hover {
    background-color: #e5e7eb;
    transform: scale(1.1);

  }
  
  .iconsbutton i {
    color: #374151;
  }

  .iconsbuttonplay {
    background-color: #1d4ed8 !important; /* Blue */
  }
  
  .iconsbuttonplay:hover {
    background-color: #2563eb !important; /* Lighter Blue */
  }
  
  .iconsbuttondownload {
    background-color: #10b981 !important; /* Green */
  }
  
  .iconsbuttondownload:hover {
    background-color: #34d399 !important; /* Lighter Green */
  }
  
  .iconsbuttonexport {
    background-color: #f59e0b !important; /* Amber */
  }
  
  .iconsbuttonexport:hover {
    background-color: #fbbf24 !important; /* Lighter Amber */
  }

  .showhidebutton {
    display: flex;
    gap: 2rem;
    height: 30px;
    margin-top: 1rem;
    margin-left: -10px;
    margin-right: 10px;
    border: none !important;
  } 

  .showhidebutton h4{
    margin-top: -0px;
    margin-left: -1.5rem;
  }

  .showhidebutton .iconsbutton{
    background-color: #fff;

  }

  .showhidebutton .actionsbuttons{
    margin-top: -0.1px;
    margin-left: 0rem;
  }

  
