/* General Styles */
.workflow {
    font-family: 'Roboto', sans-serif;
    color: #4B5563;
}

.workflow h2 {
    color: #1E3A8A; 
    margin-bottom: 20px;
}

.workflow button {
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.twostep {
    display: flex;
    flex-wrap: wrap; 
    gap: 3rem;
    padding: 1rem 5rem;

}

/* Step 1: Video Upload */
.uploadstep {
    margin-bottom: 40px;

}

.uploadarea {
    flex: 1;
    background-color: #EFF6FF; 
    border: 2px dashed #3B82F6;
    padding: 2rem;
    border-radius: 15px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 35vw; 
    max-width: 90%; 
}

.uploadarea:hover {
    background-color: #E0E7FF;
    transform: scale(1.02);
}

.uploadlink {
    color: #F97316; 
    font-weight: bold;
    text-decoration: underline;
}

.uploadinfo {
    font-size: 1rem; 
    color: #6B7280; 
}

.uploadicon {
    width: 180px; 
    height: 180px;
    margin-bottom: 15px;
}

.progressContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 20px;
  }
  
  .progressLabel {
    font-size: 14px;
    font-weight: 500;
    color: #4B5563; /* Modern gray shade */
    margin-bottom: 8px;
  }
  
  .progressbar {
    background-color: #E5E7EB; /* Subtle light gray */
    border-radius: 10px;
    height: 14px;
    width: 80%;
    max-width: 400px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
  }
  
  .progress {
    background: linear-gradient(90deg, #6A93FF, #4E55E5); /* Gradient for a modern look */
    border-radius: 20px 0 0 20px; /* Smooth rounded corners */
    height: 100%;
    transition: width 0.3s ease-in-out;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  }
  

/* Step 2: Select Languages */
.languagestep {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    width: 35vw;
    max-width: 90%;
}

.languageselection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem; 
}

.languageselection label {
    font-size: 1.6rem; 
}

.workflow select {
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #D1D5DB;
    margin-left: 10px;
    width: 15vw;
    font-size: 1.2rem; 
}

/* Step 3: Transcription Results */
.resultsstep {
    margin-bottom: 40px;
    background-color: #ffffff;

}
.resultstepfull{
    padding: 2rem;
}
.resultflex{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.viewmodetoggle {
    margin-bottom: 20px;
}

.viewbutton {
    padding: 10px 20px;
    margin-right: 10px;
    border-radius: 8px;
    border: none;
    color: #FFFFFF;
    background-color: #2D9CDB; 
    font-size: 1rem; 
}

.viewbutton.active {
    background-color: #1E3A8A;
}

.transcripts {
    display: flex;
    flex: 1;
    margin-top: -2rem;
    gap: 10px; 
    flex-wrap: wrap;
}

.transcripts.sidebyside .transcript {
    flex: 1;
}

.transcripts.fullscreen .transcript {
    flex: 2;
}

.transcript {
    width: 100%;
    height: 220px;
    padding: 5px; 
    border: 1px solid #D1D5DB;
    border-radius: 10px;
    resize: none;
    font-size: 1rem;
}


.gettranscript {
    font-size: 1.5rem;
    width: 25vw; 
}

/* Step 4: Actions */
.actionsstep {
    text-align: center;
    margin-top: 20px; 
}

.actionbutton {
    background-color: #F97316; 
    color: #FFFFFF;
    padding: 12px 25px; 
    margin: 10px;
    border-radius: 8px;
    border: none;
    font-size: 1.2rem; 
}

.actionbutton:hover {
    background-color: #FB923C; 
}

/* Video Preview */
.videopreview {
    text-align: center;
}

.resultpreviewarea {
    flex: 0.65;
    background-color: #EFF6FF;
    border: 2px dashed #3B82F6;
    border-radius: 15px;
    display: flex; /* Enable flexbox */
    align-items: center; /* Vertically center the content */
    justify-content: center; /* Horizontally center the content */
    padding: 20px; /* Optional: add some padding to create space around the video */
}


.videopreview h3 {
    color: #1E3A8A; 
    margin-bottom: 15px;
}

.workflow video {
    border: 2px solid #D1D5DB; 
    border-radius: 15px;
    width: 98%; 
    max-width: 700px;
}


.videopreview {
    text-align: center;
}

.previewarea {
    flex: 0.6;
    background-color: #EFF6FF; 
    border: 2px dashed #3B82F6; 
    border-radius: 15px;
    max-height: 80vh;
}

