
.uploadstep h2 {
    color: #1E3A8A; 
    margin-bottom: 20px;
    font-size: 2rem;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}


/* Step 1: Video Upload */
.uploadstep {
    margin-bottom: 40px;

}

.uploadarea {
    flex: 1;
    background-color: #EFF6FF; 
    border: 2px dashed #3B82F6;
    padding: 2rem;
    border-radius: 15px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 35vw; 
    max-width: 90%; 
    transition: height 0.6s ease,padding 0.6s ease,width 0.6s ease;
    box-shadow: 0px 8px 20px rgba(59, 130, 246, 0.2); 
}

.uploadarea:hover {
    background-color: #E0E7FF;
    transform: scale(1.02);
    box-shadow: 0px 10px 30px rgba(59, 130, 246, 0.3); 

}



.uploadlink {
    color: #F97316; 
    font-weight: bold;
    text-decoration: underline;
}

.uploadinfo {
    font-size: 1rem; 
    color: #6B7280; 
}

.uploadicon {
    width: 180px; 
    height: 180px;
    margin-bottom: 15px;
}

.progressContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .progressLabel {
    font-size: 14px;
    font-weight: 500;
    color: #4B5563; 
    margin-bottom: 8px;
  }
  
  .progressbar {
    background-color: #E5E7EB; 
    border-radius: 10px;
    height: 14px;
    width: 80%;
    max-width: 400px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
  }
  
  .progress {
    background: linear-gradient(90deg, #6A93FF, #4E55E5); 
    border-radius: 20px 0 0 20px; 
    height: 100%;
    transition: width 0.3s ease-in-out;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  }
  
/* Video Preview */

  .videopreview {
    text-align: center;
}


.videopreview h3 {
    color: #1E3A8A; 
    margin-bottom: 15px;
}


.videopreview video {
    border-radius: 15px;
    width: 98%; 
    max-width: 700px;
    max-height: 70vh;
    background-color: rgba(255, 255, 255, 0.2); 
    backdrop-filter: blur(50px); 
    -webkit-backdrop-filter: blur(50px); 
}

.videopreview {
    text-align: center;
}

.previewarea {
    flex: 0.6;
    background: rgba(239, 246, 255, 0.4); 
    border: 2px dashed #3B82F6; 
    border-radius: 15px;
    padding: 20px;
    width: 45vw;
    height: 70vh;
    box-shadow: 0px 8px 20px rgba(59, 130, 246, 0.2); 
    backdrop-filter: blur(15px); 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.previewarea:hover {
    transform: scale(1.02);
    box-shadow: 0px 10px 30px rgba(59, 130, 246, 0.3); 
}

.workflow video {
    border-radius: 15px;
    width: 98%; 
    max-width: 700px;
    max-height: 70vh;
    background-color: rgba(255, 255, 255, 0.2); 
    backdrop-filter: blur(50px); 
    -webkit-backdrop-filter: blur(50px); 
}